.section {
position: relative;
width: 100%;
height: 100vh;/*vh= viewport height*/
display: flex;
align-items: center;
justify-content: center;
overflow: hidden; /*No scroll function*/
}


.section h1, a:link, a:visited, a:hover, a:active {
    text-align: center;
    font-size: 6rem;
    font-family: arial;
    color: white;
    text-decoration: none;
    padding: 20px; /* Inside the box*/
    margin: 15px; /*Utside the box*/
    opacity: 0.8; 
    z-index: 1; /*Layer, this will do that the link is on top of the video*/
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}